table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    /* border: 1px solid green; */
}

.hr {
    color: black;
    border-radius: 4px;
}


.notification {
    display: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}